/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background-color: white; /*#292929;*/
    font-size: 13px;
    font-family: Tahoma, Verdana, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

a
{
    color: #696969;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

li
{
    line-height: 1.6;
}

ul
{
    list-style:none;
    list-style-type:none;
    padding-left:0px;
}

input[type=text]  
{
    margin:0p;
    padding-bottom:2px;
    padding-top:2px;
    padding-left:1px;
    padding-right:1px;
} 

input[type=password]  
{
    margin:0p;
    padding-bottom:2px;
    padding-top:2px;
    padding-left:1px;
    padding-right:1px;
} 

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    background-color: #EFEFEF;
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #C0C0C0;
}

#header h3
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 18px !important;
}

#main
{
    background: #fff;
    padding: 30px 30px 15px 30px;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* MENU   
----------------------------------------------------------*/
#menu
{
    position: relative;
    margin: 0;
}

#menu .t-item
{
    border-width: 0 0 0 1px;
    border-left-style: solid;
    border-left-color: #C0C0C0;
}

#menu .t-link
{
    padding: 12px 14px 12px 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 3.0em;
    color: #333333;
}

#menu .t-link:hover
{
    color: #000000;
    text-decoration: none;
    background-color: #CCCCCC;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 30px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

/*MY TABLE
----------------------------------------------------------*/

.Metro
{
    width:100%;
    border-collapse: collapse;
}

.Metro td
{
    margin:0px;
    padding:0px;
    vertical-align:top;
}

.Metro th
{
    margin:0px;
    padding:0px; 
    vertical-align:top;
}

/* TABLE
----------------------------------------------------------*/

table 
{
    width:100%;
    border-collapse: collapse;
}

table td
{
    padding-top: 2px;
    padding-left: 2px;
    border: 0px solid #FFFFFF;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

div#title
{
    display:block;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label
{
    /*margin: 1em 0 0 0;*/
    margin: 0.5em 0;
    color:#424242;
    font-size:11px;
    width:100%;
}

.display-field,
.editor-field
{
    margin:0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/*MyStyle*/
#Main
{
    margin-bottom: 40px;
    background: White;
    padding: 2px 10px 10px 10px;
}

#MainPanel
{
    width: 575px;
    display: inline-block;
    vertical-align: top;
    padding-right:10px;
    line-height:1.4em
}

#RightPanel
{
    display:inline-block;
    width: 240px;
    margin:0px
}

/*Tools*/

.SimpleButton
{
    border-style: none;
    padding: 0px;
    font: 11px Tahoma, Calibri, Verdana, Geneva, sans-serif;
    color: #424242;
    background-color:transparent;
    cursor: pointer;
}

.RichButton {
    padding: 3px 4px;
    margin:0px;
    font: bold 11px Tahoma, Calibri, Verdana, Geneva, sans-serif;
    border: 1px solid #A8A8A8;
    color: #424242;
    cursor:pointer;
    background: #E9E9E9 url(/Content/images/generic_button.png) repeat-x top left;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    webkit-border-radius: 0px;
}

.MetroPanel a
{
    width:inherit;
    background-color: #EEEEEE;
    display: block;
    font-weight: bold;
    padding-left:7px;
    margin-top: 2px;
    padding-bottom: 2px;
    line-height: 2.4em;
}

.MetroPanel a:hover
{
    color: #000000;
    text-decoration: none;
    background-color: #CCCCCC;
}

.SMetro-SmallButton
{
    width: 100%;
    background-color: #EEEEEE;
    display: block;
    font-weight: bold;
    text-align:center;
    padding-bottom: 2px;
    line-height: 2.1em;
}

.SMetro-SmallButton:hover
{
    color: #000000;
    text-decoration: none;
    background-color: #CCCCCC;
}

.GMetro-SmallButton
{
    width: 100%;
    background-color: Green;
    color: White;
    display: block;
    font-weight: bold;
    text-align:center;
    padding-bottom: 2px;
    line-height: 2.1em;
}

.GMetro-SmallButton:hover
{
    color: White;
    text-decoration: none;
    background-color: #006600;
}

.IMetroButton
{
    width: 100%;
    background-color: Green;
    display: block;
    color: White;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.IMetroButton:hover
{
    color: White;
    text-decoration: none;
    background-color: #006600;
}

.SMetroButton
{
    width: 100%;
    background-color: #EEEEEE;
    display: block;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.SMetroButton:hover
{
    color: #000000;
    text-decoration: none;
    background-color: #CCCCCC;
}

.ObjectContent
{
    margin-top:10px;
}

.PageTag
{
    margin: 4px 6px 4px 6px;
}

.PageTag a
{
    padding: 3px 7px 3px 7px;
}

img
{
    border-style:none;
    margin:0px;
    padding:0px;
}

.TopBorder
{
    border-top-style: solid;
    border-width: 1px;
    border-color: #C0C0C0;
}

.Element
{
    margin-top:7px;
}

.ImportantElement
{
    color: #800000;
    margin-bottom: 3px;
    text-decoration: underline;
    font-weight: bold;
}

.BeautifulTag
{
    margin-top:10px;
    margin-bottom:10px;
    font-size:15px;
    color:#D87093;
    font-weight:bold;
}

.BeautifulTag span
{
    color:#000;
}

.BeautifulTag a
{
    color:#D87093;
}

.DarkMetroButton
{
    width: 100%;
    background-color: #064A45;
    display: block;
    color: White;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.DarkMetroButton:hover
{
    color: White;
    text-decoration: none;
    background-color: #03211F;
}

.LightMetroButton
{
    width: 100%;
    background-color: #EEEEEE;
    display: block;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.LightMetroButton:hover
{
    color: #000000;
    text-decoration: none;
    background-color: #CCCCCC;
}
.MetroLabel
{
    width:inherit;
    background-color: #EEEEEE;
    display: block;
    font-weight: bold;
    padding-left:7px;
    margin-top: 2px;
    width:100%;
    padding-bottom: 2px;
    line-height: 2.4em;
}

.MetroLabel:hover
{
    color: #000000;
    text-decoration: none;
    background-color: #CCCCCC;
}